/*BODY*/

@media print {
    html, body {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

/*STORY DETAILS*/
#story-detail .infor p i {
    width: 20px;
}

#story-detail .infor p {
    margin: 0;
    line-height: 1.5;
    display: flex;
}

.card-slide {
    position: relative;
    max-width: 300px;
}

.card-img-top-slide {
    display: block;
    width: 100%;
    height: auto;
}

.card-body-slide {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    padding: 20px;
    text-align: center;
}

i.fa, i.fas {
    width: 18px;
}

/*CHAPTERS*/
.chapter-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.chapter-border {
    border-color: red;
    border: 1px;
    border-style: dashed;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440px;
    }
}

ul.dropdown-menu li a{
    text-transform: uppercase;
    color: #000000;
}
#timkiem_ajax ul.dropdown-menu {
    left: unset;
    right: 0;
    width: 310px;
}

/*TAGS*/
.tagcloud05 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tagcloud05 ul li {
    display: inline-block;
    margin: 0 0 .3em 1em;
    padding: 0;
}
.tagcloud05 ul li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    background-color: #3498db;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}
.tagcloud05 ul li a::before {
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent #3498db transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    -webkit-transition: .2s;
    transition: .2s;
}
.tagcloud05 ul li a::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 100%;
}
.tagcloud05 ul li span {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tagcloud05 ul li a:hover {
    background-color: #555;
    color: #fff;
}
.tagcloud05 ul li a:hover::before {
    border-right-color: #555;
}

/**/
